.slide(id="slide#{index}")
  section.middle
    hgroup
      :&markdown
        #{title}
        ======
        #{subtitle}
        -----------
      p 
        | #{body}
  aside.note
    section 
      p 
        | #{notes}