.slide
  section.middle
    :&markdown
      #{Title}
      ========
      #{subtitle}
      -----------
    p 
      | Jack Viers:
      i Hacker
    p
      &markdown:
        [#{email}](mailto:#{jackcviers@gmail.com})
    p
      &markdown:
        [#{twitter}](http://twitter.com/#{twitter})
   aside.note
    section 
      p #{notes}